<template>
    <div>
        <h1>Data and Databinding </h1>
        <h2>{{ name }}</h2>
    </div>
</template>

<script>
const name = 'Mark Zukerberg';
const login = {fname:"mark" , pass: "1234"};
const volley = ["Thailand","Japan"];
export default {
    name: "DataBinding",
    data() {
        return {
            name,
            login,
            volley,
        };
    },
};
</script>

<style>

</style>