<template>
    <div>
    <h1>Metod</h1>
    <hr />
    <h3>{{ greeting(45) }}</h3>
    <h1>{{ ArowFunc() }}</h1>
    </div>
</template>

<script>
const msg = "TEST";
const username = "mark";
const password = 1234;
export default {
    name: 'MethodView',
        data() {
            return{
                username,
                password,
                msg,
                age,price
            };
        },
    metods: {
        ArowFunc: (price) => {
            const msg;
        return "OK" + price;
        },
        greeting(age)=> {
            return "Hello there" + this.username + age;
        },
    },
};
</script>

<style lang="scss" scoped></style>