<template>
  <div>
    <h1>Week3: Data and Databinding</h1>
    <hr />
    <DataBinding></DataBinding>
  </div>
</template>

<script>
import DataBinding from './components/DataBinding.vue';
import MethodView from './components/Methods.vue';
export default {
  name : 'App',
    components: {
    DataBinding,
    MethodView
  },
};
</script>
